<div class="cart-list-row">
    <a routerLink="/shop/{{item().productId}}" class="cart-thumb">
        <img [src]="item().pictureUrl" alt="{{ 'PRODUCT.IMAGE_ALT' | translate:{name: item().productName} }}">
    </a>

    <div class="cart-info">
        <a routerLink="/shop/{{item().productId}}" class="cart-name">{{item().productName}}</a>
        <span class="cart-price">{{item().price | appCurrency}}</span>
    </div>

    <div class="cart-qty">
        <button mat-icon-button (click)="decrementQuantity()" class="qty-btn">
            <mat-icon>remove</mat-icon>
        </button>
        <span class="qty-value">{{item().quantity}}</span>
        <button mat-icon-button (click)="incrementQuantity()" class="qty-btn">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <span class="cart-subtotal">{{(item().price * item().quantity) | appCurrency}}</span>

    <button mat-icon-button (click)="removeItemFromCart()" class="cart-delete">
        <mat-icon>delete_outline</mat-icon>
    </button>
</div>